<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Listado de productos</title>
</head>

<body>
	<div th:replace="fragments/layout :: cabecera"></div>
		
<span class="alert alert-warning" th:if="${productos.empty}">
    Esto está vacío
</span>

<div th:unless="${productos.empty}">
    <table class="table">
        <tr th:each="producto : ${productos}">
            <td><span th:text="${producto.nombre}"></span></td>
            <td><span th:text="${producto.precio}"></span></td>
            <td><span th:text="${producto.categoria}"></span></td>

            <!-- Ver detalle: /productos/{id} -->
            <td>
                <a th:href="@{/productos/{id}(id=${producto.id})}">
                    Ver detalle
                </a>
            </td>

            <!-- Editar: /productos/{id}/editar -->
            <td>
                <a th:href="@{/productos/{id}/editar(id=${producto.id})}">
                    Editar
                </a>
            </td>

            <!-- Eliminar: /productos/{id}/eliminar -->
            <td>
                <a th:href="@{/productos/{id}/eliminar(id=${producto.id})}">
                    Eliminar
                </a>
            </td>
        </tr>
    </table>
	<div th:replace="fragments/layout :: paginacion"></div>

	</div>
	

<a th:href="@{/formulario}">Agregar Producto</a>

<div th:replace="fragments/layout :: pie"></div>

</body>

</html>
